h1 {
    font-size: 2.5em; /* 40px/16=2.5em */
  }
  h1{
    text-align: center;
 }
  
  h2 {
    font-size: 1.4em; /* 20px/12=1.875em */
  }
  body {background-color: rgb(167, 167, 167);}
  
  p {
    font-size: 24px;
  }
  p {padding: 40px;}

  p {font-style: italic;}

  